*{
    font-family: -apple-system;
}

.wrap{
    width: 900px;
    margin: 10px auto;
}

.card-title{
    color: skyblue;
}


.comment{
    color: blue;
    font-weight: bold;
}

.form-container{
    width: 450px;
    margin: 10px auto;
    border: 3px solid black;
    border-radius: 10px;
    padding: 50px;
}